@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Tienda.Models.Persona;
}

@{
    <ul>
        <li>@Html.DisplayNameFor(model=>model.Id) : @Html.DisplayFor(model=>model.Id)</li>
        <li>@Html.DisplayNameFor(model=>model.Name) : @Html.DisplayFor(model=>model.Name)</li>
        <li>@Html.DisplayNameFor(model=>model.age) : @Html.DisplayFor(model=>model.age)</li>
        <li>@Html.DisplayNameFor(model=>model.Email) : @Html.DisplayFor(model=>model.Email)</li>
    </ul>
    
}
